.speech-bubble-container {
  position: absolute;
  bottom: 75%;
  left: 20%;
  z-index: -2;
  width: 40vw;
  height: 25%;
  transform: translateY(-100%);
  /* background: green; */
}
.speech-bubble {
  position: absolute;
  z-index: -1;
  --border-size: 5px;
  --border-color: black;
  /* top: 10px; */
  /* right: 0; */
  display: inline-block;
  padding: 3% 10%;
  margin: 0;
  /* height: 50%; */
  min-width: 80%;
  border: var(--border-size) solid var(--border-color);
  border-radius: 60px;
  font-size: calc(2.5vw);
  font-family: var(--speech-bubble-font);
  text-align: center;
  background: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform-origin: 50% 100%;
}
@media only screen and (orientation: portrait) {
  .speech-bubble {
    /* top: unset;
    bottom: 60%; */
    min-width: 200px;
  }
}
.bubble-arrow {
  --transform: skew(-40deg) perspective(20px);
  --border-top-size: calc(100vh / 10);
  --border-right-size: calc(100vh / 20);
  --border-bottom-size: calc(100vh / 30);
  --border-left-size: calc(100vh / 30);
  position: absolute;
  top: 100%;
  right: 35%;
  border-top: var(--border-top-size) solid var(--border-color);
  border-right: var(--border-right-size) solid transparent;
  border-bottom: var(--border-bottom-size) solid transparent;
  border-left: var(--border-left-size) solid transparent;
  transform: var(--transform);
}
.bubble-arrow::after {
  content: '';
  position: absolute;
  top: calc(var(--border-top-size) * -1);
  left: calc(-1 * 100vh / 28);
  transform-origin: 50% 0;
  transform: scale(0.7);
  width: 0;
  height: 0;
  border-top: var(--border-top-size) solid white;
  border-right: var(--border-right-size) solid transparent;
  border-bottom: var(--border-bottom-size) solid transparent;
  border-left: var(--border-left-size) solid transparent;
}

@media only screen and (orientation: portrait) {
  .speech-bubble {
    padding: 1rem 1rem;
    right: unset;
    left: 2.5%;
  }
  .bubble-arrow {
    --border-top-size: 30px;
    --border-right-size: 35px;
    --border-bottom-size: 25px;
    --border-left-size: 25px;
  }
}
