/** 
Note on space and relative sizes.

.body-container is analogous to the photoshop canvas size of C3PO 
adjusting its width and height will contain C3PO as a whole.
C3PO's animations are contained within the canvas space.

.body is a fixed aspect ratio, analaogous to the photoshop image size
its width and height values are locked.
C3PO's animations may overflow its bounds, however.
**/
.body-container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 80%;
  max-height: 80%;
  bottom: 0;
  /* background: orange; */
}
.body {
  position: absolute;
  bottom: -5%;
  left: 0;
  transform-origin: bottom;
  /** new 
  /** Note on aspect ratio:
  985 /1317.33 = 0.747 */
  height: auto;
  width: 100%;
  aspect-ratio: 1063 / 1404;
  background: rgba(14, 5, 123, 0.646);
}
@media only screen and (orientation: portrait) {
  .body {
    /** in portrait orientation, height controls the size of
  C3PO's body **/
    /* bottom: -15%;
    height: 170%;
    width: auto; */
    height: 100%;
    width: auto;
    aspect-ratio: 1063 / 1404;
  }
}
@media only screen and (orientation: landscape) {
  .body {
    /** in landscape orientation, width controls the size of
  C3PO's body **/
    /* bottom: 0;
    height: auto;
    left: -10%;
    width: 130%; */
    height: 100%;
    width: auto;
    aspect-ratio: 1063 / 1404;
  }
}
/** Head **/
.body .head {
  /* opacity: 0; */
  position: absolute;
  width: 27.38%;
  height: auto;
  left: 32.93%;

  top: 9.57%;
  transform-origin: 50% 40%;
  transform: rotate(0deg);
  aspect-ratio: 291/278;
}
.body-part.head {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.body-part.left-eye {
  position: absolute;
  --eye-size: 19%;
  width: var(--eye-size);
  height: var(--eye-size);
  right: 48%;
  bottom: 45%;
  transform-origin: 100% 50%;
}
.body-part.right-eye,
.body-part.left-eye {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-part.left-eyeball,
.body-part.right-eyeball {
  position: absolute;
  width: 30%;

  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  transform-origin: 50% 50%;
}
.body-part.right-eye {
  --eye-size: 19%;
  width: var(--eye-size);
  height: var(--eye-size);
  left: 61%;
  bottom: 45%;
  transform-origin: 100% 50%;
}

.body-part.right-eye img,
.body-part.left-eye img {
  /** Not certain why position absolute is needed here. But without
it, the eyes lose their position when the viewport is very small **/
  position: absolute;
}

/** torso **/
.body > .torso {
  position: absolute;
  width: 39%;
  height: auto;
  top: 24.2%;
  left: 27%;
  aspect-ratio: 469 / 604;
}
.body-part.torso {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: 50% 50%;
}
.body-part.stomach {
  /* background: rgba(0, 0, 200, 0.5); */
  top: 75.5%;
  left: 15%;
  width: 85%;
  height: 40%;
}

/** left shoulder **/
.body > .torso > .left-shoulder {
  position: absolute;
  bottom: 45%;
  right: 82%;
  width: 116.42%;
  height: 114.9%;
  transform-origin: bottom right;
}
.body-part.left-shoulder-joint {
  bottom: 0;
  right: 0;
  height: 28%;
  width: 44%;
  transform-origin: 85% 50%;
  z-index: 2;
}
.body .left-arm {
  /** you can rotate this joint **/
  /* transform: rotate(10deg); */
  position: absolute;
  width: 330%;
  height: 300%;
  transform-origin: 45% 80%;
  bottom: 30%;
  left: -55%;
  z-index: -1;
}
.body-part.left-main-arm {
  left: -2%;
  bottom: -3%;
  width: 47%;
  height: 53%;
  transform: rotate(0deg);
}
.body-part.left-fore-arm {
  left: -23%;
  bottom: 87%;
  width: 180%;
  height: 100%;
  transform: rotate(0deg);
  /* transform-origin: 35% 90%; */
  transform-origin: 38% 85%;
}
.body-part.left-hand {
  bottom: 64%;
  left: 63%;
  height: 72%;
  width: 54%;
  transform-origin: 10% 80%;
}

/** right shoulder **/

.body > .torso > .right-shoulder {
  position: absolute;
  bottom: 46%;
  left: 90%;
  width: 85.5%;
  height: 72.52%;
  transform-origin: bottom right;
}
.body-part.right-shoulder-joint {
  bottom: 2.5%;
  left: -5%;
  height: 50%;
  width: 43%;
  transform-origin: 10% 50%;
  z-index: 2;
  /* background: rgba(0, 0, 255, 0.392); */
}
.body .right-arm {
  /** you can rotate this joint **/
  /* transform: rotate(10deg); */
  position: absolute;
  bottom: 0;
  width: 250%;
  height: 170%;
  transform-origin: 35% 55%;

  z-index: -1;
}
.body-part.right-main-arm {
  left: 25%;
  bottom: 15%;
  width: 50%;
  height: 42%;
  transform: rotate(0deg);
}
.body-part.right-fore-arm {
  /* display: none; */
  left: 46%;
  bottom: -5%;
  width: 115%;
  height: 150%;
  transform: rotate(0deg);
}
.body-part.right-hand {
  bottom: 48%;
  right: 66%;
  height: 100%;
  width: 103%;
}

/** hips **/

.body > .hips {
  position: absolute;
  left: 28%;
  top: 59%;
  width: 43%;
  height: auto;
  transform-origin: top center;
  aspect-ratio: 558/448;

  /* background: rgba(0, 128, 0, 0.378); */
}
.body-part.left-leg {
  /** you can rotate this **/
  position: absolute;
  top: 49%;
  left: 1%;
  height: 99%;
  width: auto;
  aspect-ratio: 233/416;
  transform-origin: 50% 20;
  /* transform: rotate(5deg); */
}

.body-part.right-leg {
  /** you can rotate this **/
  position: absolute;
  top: 48%;
  right: -6%;
  width: auto;
  height: 102%;
  aspect-ratio: 481/613;
  transform-origin: 50% 20;
  /* transform: rotate(5deg); */
}
/**
Transparent reference image for sizes **/
.c3po-container img.c3po-reference {
  position: absolute;
  display: none;
  bottom: 20px;
  left: -60px;
  opacity: 0.8;
  z-index: 5;
  width: 667px;
  height: 607px;
  /* background: green; */
  object-fit: cover;
}
