.translator-char {
  font-family: var(--view-screen-font);
  position: relative;
  color: white;
  text-align: center;
  margin: 0;
  height: auto;
  height: fit-content !important;
  margin: 0.5rem;

  padding: 0.7rem 1.5rem;
  background-color: rgb(47, 86, 29);
  border: 1px solid rgba(166, 224, 139, 0.52);
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}
.translator-char:hover .char {
  opacity: 1;
  cursor: pointer;
}
.translator-char .char {
  position: relative;
  color: white;
  font-size: calc(50vw / 30);
  opacity: 0.8;
}
.translator-char .char::after {
}
.translator-char .byte {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(107, 107, 107);
  font-size: calc(50vw / 30);
  background: white;
  padding: 1rem;
  transition: all 0.4s ease;
  opacity: 0;
  border: none;
}
.translator-char:disabled {
  pointer-events: none;
  opacity: 0.2;
}
