.game-control-flex-wrap {
  --game-control-edge-size: 20px;
  --game-control-edge-border-size: 5px;
  --game-control-edge-border-color: rgb(94, 94, 94);
  --game-control-bg: rgb(28, 28, 28);
}
.game-control-flex-wrap {
  position: absolute;
  right: 0;
  z-index: 3;
  /* flex-grow: 1; */
  /* flex-basis: 40%; */
  /* transform: translateX(100%); */
  width: 50%;
  height: 100%;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.game-control-flex-wrap.show {
  transform: translateX(0%);
}
.game-control-flex-wrap.hide {
  transform: translateX(calc(100% + var(--game-control-edge-size)));
}
.game-control-container {
  z-index: 4;
  width: calc(100% - var(--game-control-edge-size));
  height: 100%;
  background: var(--game-control-bg);
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.game-control-container,
.game-control-container * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.game-control {
  position: relative;
  width: calc(100% - var(--game-control-edge-size));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-control .control-row {
  margin: 0.55rem;
  flex-basis: 12%;
  /* flex-shrink: 1; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/** global shadow for all game control elements */
.game-control .shadow {
  --border-color: rgb(63, 63, 63);
  /* border-top: 5px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; */
  /* border: 3px solid gray; */
  box-shadow: 4px 4px 10px 0px rgb(0, 0, 0), -2px -2px 10px 0 rgba(250, 250, 250, 0.2);
}

/** game control edge **/
.game-control-edge {
  position: absolute;
  top: 0;
  left: var(--game-control-edge-size);
  width: var(--game-control-edge-size);
  background: var(--game-control-bg);
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-left: var(--game-control-edge-border-size) solid var(--game-control-edge-border-color);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.game-control-edge::after,
.game-control-edge::before {
  --cut-out-size: 100px;
  content: '';
  position: absolute;
  width: var(--game-control-edge-size);
  background: transparent;
  height: var(--cut-out-size);
  top: 50%;
  left: calc(-1 * var(--game-control-edge-border-size));
  transform-origin: 0 0;
  transform: translateY(calc(var(--cut-out-size) / -1)) skew(30deg) rotate(30deg);
  border-right: var(--game-control-edge-border-size) solid var(--game-control-edge-border-color);
  border-top: var(--game-control-edge-border-size) solid var(--game-control-edge-border-color);
}
.game-control-edge::before {
  transform: translateY(calc(var(--cut-out-size) / -1)) skew(-30deg) rotate(-30deg)
    translateY(var(--cut-out-size));
  border-bottom: var(--game-control-edge-border-size) solid var(--game-control-edge-border-color);
}

.game-control-container {
  margin-left: var(--game-control-edge-size);
  flex-shrink: 1;
  height: 100%;
  /* width: 50%; */
}
.game-control {
  flex-direction: column;
  /* width: auto; */
  height: 100%;
  aspect-ratio: 2/3;
}
