.control-view-screen {
  font-family: var(--view-screen-font);
  flex-basis: 80%;
  flex-grow: 0.8;
  width: 90%;
  height: 90%;
  background: rgba(59, 59, 59, 0.292);
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.control-view-screen.on {
  transition: all 0.35s linear;
  background: rgb(8, 47, 15);
}
