.c3po-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.c3po-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.letter-found,
.letter-not-found {
  position: relative;
  background: rgb(233, 250, 255);
  border: 3px solid blue;
  font-weight: bold;
  padding: 0.15rem 0.7rem;
  color: blue;
  margin: 0.25rem;
  font-family: var(--view-screen-font);
  border-radius: 0px 10px 0px 10px;
}
/* .letter-found::after {

} */

.letter-not-found {
  background: green;
  color: white;
  border-color: lightgreen;
  /* color: black;
  background: white;
  border-color: black; */
}
span.battery {
  color: purple;
  border: 2px solid purple;
  border-width: 0;
  border-bottom-width: 2px;
}
