.game-stage {
  background: white;
  position: relative;
  z-index: 1;
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.game-stage-constraints {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1050;
  pointer-events: none;
}
